/* Ubuntu Fonts */
@font-face {
    font-family: 'Ubuntu';
    src: url('ubuntu/Ubuntu.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('ubuntu/Ubuntu-medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('ubuntu/Ubuntu-light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('ubuntu/Ubuntu-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('ubuntu/Ubuntu-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('ubuntu/Ubuntu-mi.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('ubuntu/Ubuntu-bi.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('ubuntu/Ubuntu-li.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
/* Ubuntu Condensed Font */
@font-face {
    font-family: 'Ubuntu';
    src: url('ubuntu/UbuntuCond.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* Ubuntu Mono Fonts */
@font-face {
    font-family: 'Ubuntu Mono';
    src: url('ubuntu/mono/UbuntuMono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu Mono';
    src: url('ubuntu/mono/UbuntuMono-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu Mono';
    src: url('ubuntu/mono/UbuntuMono-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu Mono';
    src: url('ubuntu/mono/UbuntuMono-bi.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
